.nft-route {

    .main-shape {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .preview-shape {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        // bottom: 0;
        z-index: 1;
        border: 1px solid white;
        max-width: 800px;
        max-height: 800px;
        margin: 0 auto;
        z-index: 2222;

        .transport-editor {
            position: absolute;
            bottom: -30px;
            left: 150px;
        }

        .nft-generated {
            position: absolute;
            top: 0;
            left: 0;
            right:0;
            bottom:0;
            z-index: 2;
            img {
                max-width: 100%;
            }
        }

        .cancel-editor {
            position: absolute;
            top: -30px;
        }

        .save-editor {
            position: absolute;
            top: -30px;
            right: 0;
        }

        .capture-editor {
            position: absolute;
            bottom: -30px;
            left: 0;
        }

        .clear-editor {
            position: absolute;
            bottom: -30px;
            right: 0;
            opacity: 0.2;
            transition:  all 0.5s;

            &.active {
                opacity: 1;
            }
        }
    }

    .nft-player-container {
        // height: 40px;
        // border-top: 1px solid rgba(255,255,255,0.1);
        position: fixed;
        bottom: 0;
        left:0;
        right: 0;
        z-index: 2;
    }

    .nft-details-container {
        position: fixed;
        bottom: 20px;
        left: 20px;
        right: 0;
        z-index: 3;

        @media only screen and (min-width: $mobile) {
            bottom: 100px;
            left: 60px;
            right: 60px;
        }
    }

    .description-editor {

        position: fixed;
        top: 80px;
        left: 20px;
        right: 0;
        z-index: 4;

        @media only screen and (min-width: $mobile) {
            top: 170px;
            left: 70px;
            font-size: 20px;
            font-weight: 300;
            opacity: 0.4;
            transition: all 0.5s;
            max-width: 370px;

            &:hover {
                opacity: 1;
            }
        }
       
    }

    .media-controls {
        display: none;

        @media only screen and (min-width: $mobile) {
            display: block;
            top: 170px;
            right: 70px;
            position: absolute;
            z-index: 5;
        }
    }

    .viz-container {
        border-radius: 0;
    }

    
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

