.generator {
    position: fixed;
    top: 90px;
    left: 20px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 20000;

    @media only screen and (min-width: $mobile) {
        top: 150px;
        left: 60px;
        right: 60px;
    }

    &.demo {
        top: 0px;
    }
}