.iteration1-planet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.iteration1-main-shape-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.iteration1-container {
    
    .content-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "MP";
        text-transform: uppercase;
        animation: fadeIn 0.2s forwards;
        opacity: 0;

        

        .page-title {
            font-size: 23px;
            font-weight: 500;
            letter-spacing: 7px;

            background: linear-gradient(to right, rgba(255, 255, 255, 100%), rgba(255, 255, 255, 0.92) 100%);
            // background: $white;
            opacity: 0;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // background-size: 500% 500%;
            background-position: center center;

            animation: text-wipe 2s 0s linear forwards;
            -webkit-mask-image: linear-gradient(to left, #0000 25%, #000 75%);
            -webkit-mask-size: 500%;
            -webkit-mask-position: 100%;
            transition: all 2s ease;
            

            @media only screen and (min-width: $mobile) {
                font-size: 47px;
                font-weight: 500;
                letter-spacing: 15px;
            }
        }

        .page-subtitle {
            margin: 5px 0 0 0;
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 6px;

            background: $white;
            opacity: 0;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // background-size: 500% 500%;
            background-position: center center;

            animation: text-wipe 2s 0.02s linear forwards;
            -webkit-mask-image: linear-gradient(to left, #0000 25%, #000 75%);
            -webkit-mask-size: 500%;
            -webkit-mask-position: 100%;
            transition: all 2s ease;

            @media only screen and (min-width: $mobile) {
                margin: 10px 0 0 0;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 8px;
            }
        }

        .page-intro {
            cursor: pointer;
            position: relative;
            top: -15px;

            &:hover {
                .page-title {
                    letter-spacing: 8px;

                    @media only screen and (min-width: $mobile) {
                        letter-spacing: 16px;
                    }
                }

                .page-subtitle {
                    letter-spacing: 7px;

                    @media only screen and (min-width: $mobile) {
                        letter-spacing: 9px;
                    }
                }
            }
        }
    }

    .player-container {
        position: fixed;
        bottom: 20px;
        left: 20px;
        z-index: 100;
        opacity: 0;
        animation: fadeInScale 0.7s 2s cubic-bezier(.19,1,.46,1.21) forwards;

        @media only screen and (min-width: $mobile) {
            bottom: 60px;
            left: 60px;

            svg {
                width: 100px;
                height: 100px;
            }
        }

       
    }

    .timeline-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transition: all 1s ease;


        @media only screen and (min-width: $mobile) {
            transform: translateY(18px);
        }

        &:hover {
            @media only screen and (min-width: $mobile) {
                transform: translateY(0px); 
            }
        }
    }
}