.viz-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.2s;
    z-index: 1;
    opacity: 0;
    animation: fadeIn forwards 0.5s ease-in-out; 
    overflow: hidden;
    border-radius: 40px;
  
    &.full {
      bottom: 0;
    }
  
    .viz {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    canvas {
        // -webkit-filter: url("#goo");
        // filter: url("#goo");
        background: $black;
    }
  }
  
  .example {
    fill: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
  
    rect {
      fill: none
    }
}

.glass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all 0.2s linear;

    
    // animation: fadeIn forwards 2s 0 ease-in-out; 
}

.goo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
  

.touch-zones {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 130px;
    z-index: 10000;

    @media only screen and (min-width: $mobile) {
        top: 100px;
        bottom: 222px
    }

    .touch-zones-row {
        height: 25%;
        display: flex;
        margin-bottom: 20px;

        .touch-zone {
            background: rgba($white, 0.00);
            height: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            transition: all 1.5s;
            position: relative;
            cursor: pointer;

            .touzh-zone-container {
                position: absolute;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                background: rgba($white, 0.00);
                transition: all 1.5s;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                text-align: center;

                .touch-zone-name {
                    margin: 5px 0 0 0;
                    font-size: 16px;
                    font-weight: 300;
                }
            }

            &.touch-zone-active {
                .touzh-zone-container {
                    background: rgba($white, 0.2);
                }
            }

             &:first-child {
                margin-right: 10px;
         }

            &:last-child {
                margin-left: 10px;
            }
        }

       
    }
}

.svg-canvas {
    fill: black
}