.mic-container {
    margin: 0 0 0 0;
    padding: 10px;
    position: relative;
    top: 1px;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 36px;

   

    .svg-wrapper {
        position: relative;
        z-index: 2;
    }

    svg path {
        transition: all 1s ease;
        position: relative;
    }

    .mic-background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2BFF7E;
        opacity: 0;
        z-index: 1;
        border-radius: 100px;
        transition: all 2s ease;
        transform: scale(0);
    }

    &.mic-active {
        border-radius: 100px;

        svg path {
            fill: #2BFF7E;
        }

        .mic-background  {
            opacity: 0.1;
            transform: scale(1);
        }
    }

    @media only screen and (min-width: $mobile) {
        // padding-right: 15px;
        width: inherit;
        padding: 30px;
        margin-right: 10px;

        svg {
            width: 30px;
            height: 30px;
        }
    }
}

.speech-container {
    position: fixed;
    bottom: 70px;
    right: 20px;
    font-size: 14px;
    text-align: right;
    width: 200px;
    
    span {
        text-transform: lowercase;
    }

    @media only screen and (min-width: $mobile) {
        bottom: 200px;
        right: 80px;
        font-size: 30px;
        width: 500px
    }
}

.response-container{
    position: fixed;
    top: 100px;
    left: 20px;
    font-size: 14px;
    text-align: left;
    width: 200px;

    @media only screen and (min-width: $mobile) {
        top: 200px;
        left: 70px;
        font-size: 34px;
        width: 700px;
    }
}

.response-item {
    margin: 0 0 10px 0;

    @media only screen and (min-width: $mobile) {
        margin: 0 0 35px 0;
        line-height: 1.2em;
    }

    &:nth-child(1) {
        opacity: 1;
        font-weight: 400;
    }

    &:nth-child(2) {
        opacity: 0.5;
        font-weight: 300;
    }

    &:nth-child(3) {
        opacity: 0.3;
        font-weight: 200;
    }

    &:nth-child(4) {
        opacity: 0.1;
        font-weight: 100;
    }
}