.nft-details-container {
    .left {
        // margin-right: 20px;
    }

   
}

.nft-details-container {
    margin: 20px;
    height: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    // max-width: 1100px;
    // padding: 20px 00 20px;
    margin: 0 auto 0px auto;
    opacity: 0;
    animation: fadeIn forwards 1s 1s ease-in-out; 
    cursor: pointer;

    @media only screen and (min-width: $mobile) {
        padding: 0;
        opacity: 1;
        animation: none;

        &.demo-mode {
            opacity: 0 !important;
        }
       
    }

    &.demo-mode {
        animation: none;
        opacity: 0 !important;
    }
   

    .nft-details-left {
        display: flex;
        align-items: center;

    }

    .play-container {
        margin-right: 10px;
    }

    .metadata-name {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 2px;
    }

    .metadata-status-bar {
        display: flex;
        font-size: 10px;
        font-weight: 500;
        .status {
            &.green {
                color: #29FF7F;
            }

            &.orange {
                color: #FFAA29;
            }

            &.grey {
                opacity: 0.5;
            }

            &.owned {
                font-weight: 300;
                opacity: 0.5;
            }
        }

        .price {
            display: flex;
            margin-left: 8px;

            svg {
                width: 7px;
                height: 11px;
                margin-right: 3px;
            }
        }
    }

    .bp3-button.bp3-large {
        padding: 0 25px;
    }

    .right {
        // opacity: 30%;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
            opacity: 100%;
        }

       

        .more-container {
            padding: 20px 20px 20px 15px;

            @media only screen and (min-width: $mobile) {
                // padding-right: 15px;
            }
        }
    }

    &.large {
        @media only screen and (min-width: $mobile) {
            height: 100px;

            .nft-details-left {
                display: flex;
                align-items: center;
        
            }
        
        
            .metadata-name {
                font-weight: 400;
                font-size: 60px;
                margin-bottom: 2px;
            }
        
            .metadata-status-bar {
                display: flex;
                font-size: 24px;
                font-weight: 400;
                .status {
                    &.green {
                        color: #29FF7F;
                    }
                }
        
                .price {
                    display: flex;
                    margin-left: 20px;
        
                    svg {
                        width: 18px;
                        height: 30px;
                        margin-right: 10px;
                    }
                }
            }

            .play-container {
                margin-right: 30px;
                svg {
                    width: 100px;
                    height: 100px;
                }
            }

            .right {
                // opacity: 30%;
                transition: all 0.2s ease;
                cursor: pointer;
        
                &:hover {
                    opacity: 100%;
                }
        
                .more-container {
                    padding: 20px 20px 20px 15px;
        
                   svg {
                       width: 30px;
                       height: 30px;
                   }
                }

                
            }

            .bp3-button.bp3-large {
                width: 280px;
                height: 100px;
                font-size: 30px;
                margin-right: 30px;
                font-weight: 300;

                .bp3-button-text {
                    transition: all 2s ease;

                }

                &:hover {
                    .bp3-button-text {
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
}

.play-container {
    cursor: pointer;
}

.arrow-container {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 6px;

    svg {
        width: 30px
    }
}

.f {
    background: rgba($white, 0.15);
    color: $white;
    border-radius: 3px;
    padding: 0 3px 1px 3px;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.green {
        background: rgba(#29FF7F, 0.15);
        color: #29FF7F;
    }

    &.purple {
        background: #8247E5;
        color: $white;
    }
}