.nav-links-container {

    a {
        font-size: 30px;
        font-weight: 300;
    }

    .nav-link-container {
        margin: 0 0 20px 0;
        transition: all 0.5s;
        opacity: 0.5;
        ul {
            li{
                
            }
        }


        &.nav-link-active {
            opacity: 1;

            a {
                font-weight: 300;
            }
        }
    }
   
}

.nav-link-status {
    width: 8px;
    height: 8px;
    background-color: #29FF7F;
    display: inline-block;
    position: absolute;
    border-radius: 50px;
}