.iteration2-planet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

$placeholderBG: rgba(red, 0.1);

.iteration2-main-shape-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.iteration2-section {
    position: relative;
}

.section-header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: "A2", sans-serif;
    font-feature-settings: "tnum" on,"lnum" on,"liga" on,"zero";
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 15px;

    &.border {
        border-top: 1px solid rgba($white, 0.1);
    }

    @media only screen and (max-width: $mobile) {
        font-size: 9px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .section-count {
        margin: 0 5px 0 0 ;
    }

    .section-divider {
        margin: 0 5px 0 0 ;
    }

    .section-name {
    }
}

.section-main-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;

    @media only screen and (max-width: $mobile) {
        padding: 0 20px 0 20px;
        font-size: 14px;
        color: rgba($white, 0.5);
        line-height: 18px;
    }
}

.section-big-title {
    padding: 60px  0 0 0;
    font-size: 160px;
    line-height: 90%;
    font-feature-settings: "tnum" on,"lnum" on,"liga" on,"zero";
    font-weight: 500;

    @media only screen and (min-width: $mobile) {
        margin-left: -7px;
    }

    @media only screen and (max-width: $mobile) {
        font-size: 45px;
        padding-top: 50px;
        padding-left: 20px;
    }
}

.iteration2-container {

    .iteration2-content-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        @media only screen and (max-width: $mobile) {
            margin-top: 120px;
        }


        @media only screen and (min-width: $mobile) {
            margin-top: 222px;
        }

        .section-hero {

            @media only screen and (min-width: $mobile) {
                display: grid;
                column-gap: 30px;
                row-gap: 30px;
                grid-template-columns:1fr 1fr;
            }
            

            .section-hero-top {
                @media only screen and (min-width: $mobile) {
                    grid-column: 1 / 3;
                    margin-bottom: 30px;
                }

                @media only screen and (max-width: $mobile) {
                    margin-bottom: 20px;
                }
            }


            .section-hero-bottom {

                @media only screen and (max-width: $mobile) {
                    margin-bottom: 100px;
                }

                @media only screen and (min-width: $mobile) {
                    grid-column: 2 / 3;
                    grid-row: 2;
                    margin-bottom: 222px;
                }
                  
            }
        }

        .section-design {
            margin-top: 30px;
            height: 800px;
            // background: $placeholderBG;
        }

        .section-approach {
            margin-top: 30px;

            @media only screen and (min-width: $mobile) {
                display: grid;
                column-gap: 30px;
                row-gap: 30px;
                grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
            }

            @media only screen and (max-width: $mobile) {
                display: grid;
                column-gap: 20px;
                row-gap: 40px;
                grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
                padding: 20px;
            }


            .section-approach-top {
                background: $placeholderBG;
                height: 500px;

                @media only screen and (min-width: $mobile) {
                    grid-column: 1 / 7;
                }

                @media only screen and (max-width: $mobile) {
                    grid-column: 1 / 7;
                }
            }

            ul.section-approach-bottom {
               

                @media only screen and (min-width: $mobile) {
                    grid-column: 2 / 7;
                    display: grid;
                    column-gap: 30px;
                    grid-template-columns:1fr 1fr 1fr 1fr 1fr;

                }

                @media only screen and (max-width: $mobile) {
                    grid-column: 1 / 7;
                    display: grid;
                    column-gap: 20px;
                    row-gap: 40px;
                    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;

                }
                
                // grid-template-columns: 20% 20% 20% 20% 20%;

                li {
                    background: $placeholderBG;
                    aspect-ratio: 1;

                    &.section-approach-1 {
                        @media only screen and (max-width: $mobile) {
                            grid-column: 1 / 6;
                            grid-row: 1;
                        }
                    }

                    &.section-approach-2 {
                        @media only screen and (max-width: $mobile) {
                            grid-column: 2 / 7;
                            grid-row: 2;
                        }
                    }

                    &.section-approach-3 {
                        @media only screen and (max-width: $mobile) {
                            grid-column: 1 / 6;
                            grid-row: 3;
                        }
                    }

                    &.section-approach-4 {
                        @media only screen and (max-width: $mobile) {
                            grid-column: 2 / 7;
                            grid-row: 4;
                        }
                    }

                    &.section-approach-5 {
                        @media only screen and (max-width: $mobile) {
                            grid-column: 1 / 6;
                            grid-row: 5;
                        }
                    }
                }
            }

            .section-approach-description {
                background: $placeholderBG;
                height: 300px;

                @media only screen and (min-width: $mobile) {
                    grid-column: 2 / 6;
                    display: grid;
                    column-gap: 30px;
                }

                @media only screen and (max-width: $mobile) {
                    grid-column: 1 / 7;
                    display: grid;
                }
            }
        }

        .section-process {
           
            height: 1500px;
            margin-top: 30px;

            @media only screen and (min-width: $mobile) {
                display: grid;
                column-gap: 30px;
                row-gap: 30px;
                grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
            }

            .section-process-description {
                background: $placeholderBG; 

                @media only screen and (min-width: $mobile) {
                    grid-column: 1 / 7;
                    grid-row: 1;
                }
            }

            .section-process-list {
                background: $placeholderBG;

                @media only screen and (min-width: $mobile) {
                    grid-column: 1 / 3;
                    grid-row: 2;
                }
            }

            .section-process-view {
                background: $placeholderBG;

                @media only screen and (min-width: $mobile) {
                    grid-column: 3 / 7;
                    grid-row: 2;
                }
            }
        }
    }
}