.iteration2-planet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

$placeholderBG: rgba(red, 0.1);

.iteration2-main-shape-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.iteration2-section {
    position: relative;

    // .glass {
    //     z-index: 10000;
    // }

    
}

.section-header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: "A", sans-serif;
    font-feature-settings: "tnum" on,"lnum" on,"liga" on,"zero";
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 25px;
    z-index: 222;

    &.border {
        border-top: 1px solid rgba($white, 0.1);
    }

    @media only screen and (max-width: $mobile) {
        font-size: 9px;
        padding-top: 25px;
        padding-left: 20px;
    }

    .section-count {
        margin: 0 5px 0 0 ;
    }

    .section-divider {
        margin: 0 5px 0 0 ;
    }

    .section-name {
    }
}

.section-main-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    color: rgba($white, 0.6);

    &:last-child {
        margin-bottom: 0;
    }

    @media only screen and (max-width: $mobile) {
        padding: 0 20px 0 20px;
        font-size: 14px;
        color: rgba($white, 0.5);
        line-height: 18px;
    }
}

.section-big-title {
    padding: 70px  0 0 0;
    font-size: 160px;
    line-height: 90%;
    font-feature-settings: "tnum" on,"lnum" on,"liga" on,"zero";
    font-weight: 500;

    @media only screen and (min-width: $mobile) {
        margin-left: -7px;
        margin-bottom: 100px;
    }

    @media only screen and (max-width: $mobile) {
        font-size: 45px;
        padding-top: 60px;
        padding-left: 20px;
    }
}

.section-medium-title {
   
    font-size: 44px;
    font-feature-settings: "tnum" on,"lnum" on,"liga" on,"zero";
    font-weight: 400;
    text-align: center;

    @media only screen and (min-width: $mobile) {
        padding: 170px  0 0 0;
        // margin-left: -7px;
        margin: 0 auto;
        line-height: 105%;
        max-width: 1000px;
        padding-bottom: 50px;
    }

    @media only screen and (max-width: $mobile) {
        font-size: 20px;
        padding-top: 100px;
        padding-left: 20px;
        padding: 100px 20px 40px 20px;
        max-width: 350px;
        margin: 0 auto;
    }
}

.section-normal-title {
   
    font-size: 60px;
    font-feature-settings: "tnum" on,"lnum" on,"liga" on,"zero";
    font-weight: 400;
    text-align: left;

    @media only screen and (min-width: $mobile) {
        margin-left: -4px;
        line-height: 105%;
        max-width: 1000px;
        margin-bottom: 30px;
    }

    @media only screen and (max-width: $mobile) {
        font-size: 20px;
        padding-left: 20px;
        margin: 30px 0 20px 0;
        font-weight: 500;
        // padding-top: 100px;
        // padding-left: 20px;
        // padding: 100px 20px 40px 20px;
        // max-width: 350px;
        // margin: 0 auto;
    }
}


.section-stats {
    display: flex;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0 0 0 ;
    position: relative;
    align-items: center;

    @media only screen and (max-width: $mobile) {
        padding-left: 20px;
        font-size: 14px;
    }

    .stat-price {
        font-weight: 600;
    }

    .stat-divider {
        width: 4px; 
        height:4px;
        border-radius: 10px;
        background: rgba($white, 0.2);
        margin: 0 10px;
    }

    .mint-button {
        max-width: 100px;
        margin-right: 25px;
        padding: 20px;
    }
    
}




.iteration2-container {

    .iteration2-content-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        @media only screen and (max-width: $mobile) {
            margin-top: 120px;
        }


        @media only screen and (min-width: $mobile) {
            margin-top: 222px;
        }

        .section-hero {

            @media only screen and (min-width: $mobile) {
                display: grid;
                column-gap: 30px;
                row-gap: 30px;
                grid-template-columns:1fr 1fr;
            }
            

            .section-hero-top {
                @media only screen and (min-width: $mobile) {
                    grid-column: 1 / 3;
                }

                @media only screen and (max-width: $mobile) {
                    margin-bottom: 20px;
                }
            }


            .section-hero-bottom {

                @media only screen and (max-width: $mobile) {
                    margin-bottom: 50px;
                }

                @media only screen and (min-width: $mobile) {
                    grid-column: 2 / 3;
                    grid-row: 2;
                    margin-bottom: 140px;
                }
                  
            }
        }

        .section-design {
            margin-top: 30px;
            // background: $placeholderBG;
        }

        .section-approach {
            // margin-top: 30px;

            .touch-zones {
                top: 20px;
                left: 20px;
                bottom: 20px;
                right: 20px;

                display: grid;
                column-gap: 10px;
                row-gap: 10px;
                grid-template-columns:1fr 1fr;
            }
            .touch-zone {
                border: 1px solid $white;
                margin: 0;
                flex-grow: 1;
                height: inherit;
                transition: all 1s;
                cursor: pointer;

                &:hover {
                    background: rgba($white, 0.2);
                }

                &.touch-zone-active {
                    background: $white;
                }
            }

            // .touch-zones-row {
            //     margin: 0 0 16px 0;
            //     display: grid;
            //     align-items: stretch;
            //     column-gap: 30px;
            //     row-gap: 30px;
            //     grid-template-columns:1fr 1fr;
            // }

            @media only screen and (min-width: $mobile) {
                display: grid;
                column-gap: 30px;
                row-gap: 30px;
                grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
            }

            @media only screen and (max-width: $mobile) {
                display: grid;
                column-gap: 20px;
                row-gap: 40px;
                grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
                // padding: 20px;
                margin-top: 20px;
            }


            .section-approach-top {
                // background: $placeholderBG;

                @media only screen and (min-width: $mobile) {
                    grid-column: 1 / 7;
                }

                @media only screen and (max-width: $mobile) {
                    grid-column: 1 / 7;
                }
            }

            ul.section-approach-bottom {
               

                @media only screen and (min-width: $mobile) {
                    grid-column: 2 / 7;
                    display: grid;
                    column-gap: 30px;
                    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
                    margin-top: 30px;

                }

                @media only screen and (max-width: $mobile) {
                    grid-column: 1 / 7;
                    display: grid;
                    column-gap: 20px;
                    row-gap: 80px;
                    padding: 20px;
                    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;

                }
                
                // grid-template-columns: 20% 20% 20% 20% 20%;

                li {
                    border: 1px solid $white;
                    aspect-ratio: 1;
                    position: relative;

                    .section-approach-item-title {
                        position: absolute;
                        font-family: "A", sans-serif;
                        font-feature-settings: "tnum" on,"lnum" on,"liga" on,"zero";
                        text-transform: uppercase;
                        font-size: 12px;
                        bottom: -22px;
                        left: -1px;

                    }

                    .math-name-container {
                        display: flex;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        align-items: center;
                        justify-content: center;
                        font-size: 40px;
                        text-transform: capitalize;

                        @media only screen and (max-width: $mobile) {
                            font-size: 60px;
                        }
                    }

                    .nft-transport {
                        position: absolute;
                        z-index: 10;
                        bottom: 20px;
                        left: 20px;
                        cursor: pointer;
                    }

                    .mic-container {
                        position: absolute;
                        z-index: 10;
                        bottom: 20px;
                        right: 20px;
                        top: inherit;
                        cursor: pointer;
                        border: 1px solid $white;
                        border-radius: 100px;
                        padding: 0;
                        width: 42px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all .5s ease;

                        @media only screen and (min-width: $mobile) {
                            // padding-right: 15px;
                            width: inherit;
                            margin-right: 0;
                            width: 42px;
                            height: 42px;
                            
                    
                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }

                        &.mic-active {
                            border: 1px solid #29FF7F;
                        }
                    }

                    &.section-approach-1 {
                        cursor: pointer;

                        @media only screen and (max-width: $mobile) {
                            grid-column: 1 / 6;
                            grid-row: 1;
                        }
                    }

                    &.section-approach-2 {
                        cursor: pointer;

                        @media only screen and (max-width: $mobile) {
                            grid-column: 2 / 7;
                            grid-row: 2;
                        }
                    }

                    &.section-approach-3 {
                        
                        @media only screen and (max-width: $mobile) {
                            grid-column: 1 / 6;
                            grid-row: 3;
                        }
                    }

                    &.section-approach-4 {
                        @media only screen and (max-width: $mobile) {
                            grid-column: 2 / 7;
                            grid-row: 4;
                        }
                    }

                    &.section-approach-5 {
                        @media only screen and (max-width: $mobile) {
                            grid-column: 1 / 6;
                            grid-row: 5;
                        }
                    }
                }
            }

            .section-approach-description {
                

                @media only screen and (min-width: $mobile) {
                    grid-column: 2 / 6;
                    display: grid;
                    column-gap: 30px;
                    margin-top: 50px;
                    margin-bottom: 150px;
                }

                @media only screen and (max-width: $mobile) {
                    grid-column: 1 / 7;
                    display: grid;
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
            }
        }

        .section-process {
            margin-top: 30px;
            padding-bottom: 20px;

            @media only screen and (min-width: $mobile) {
                display: grid;
                column-gap: 30px;
                row-gap: 30px;
                grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
            }

            .section-process-description {

                @media only screen and (min-width: $mobile) {
                    grid-column: 1 / 7;
                    grid-row: 1;
                }
            }

            .section-process-playlist {
                position: relative;
                @media only screen and (min-width: $mobile) {
                    grid-column: 1 / 7;
                    grid-row: 2;
                }
            }

            .section-process-list {

                @media only screen and (min-width: $mobile) {
                    grid-column: 1 / 3;
                    grid-row: 2;
                }
            }

            .section-process-view {
                background: $placeholderBG;

                @media only screen and (min-width: $mobile) {
                    grid-column: 3 / 7;
                    grid-row: 2;
                }
            }
        }

        .section-techno {
            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;

            .youtube-playlist-container {
                grid-column: 1 / 7;

                @media only screen and (max-width: $mobile) {
                    margin-top: 50px;
                }
            }

            .section-techno-description{

                @media only screen and (min-width: $mobile) {
                    margin-top: 100px;
                    grid-column: 3 / 7;
                    grid-row: 2;
                    margin-bottom: 180px;
                }

                @media only screen and (max-width: $mobile) {
                    grid-column: 1 / 7;
                    grid-row: 2;
                    margin-bottom: 50px;
                }

            }
        }

        .section-background {
            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;

            .albums-container {
                display: grid;
                grid-column: 1 / 7;
                column-gap: 30px;
                grid-template-columns:1fr 1fr;
            
                @media only screen and (max-width: $mobile) {
                    padding: 40px 20px 20px 20px;
                    column-gap: 20px;
                }
            
                .single-album {
                    aspect-ratio: 1;
            
                    img {
                        max-width: 100%;
                    }
                }
            }
            
            .engine-description {

                @media only screen and (max-width: $mobile) {
                    margin-bottom: 50px;
                    grid-column: 1 / 7;
                }
                
                @media only screen and (min-width: $mobile) {
                    margin-bottom: 180px;
                    margin-top: 100px;

                    grid-column: 2 / 6;
                }
            }
        }
    }
}