.collection-row {
    padding: 20px 10px 20px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($white, 0.1);
    align-items: center;
    cursor: pointer;

    .collection-title {
        font-size: 18px;
    }

    .row-left {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;flex-direction: column;
    }

    .collection-stats {
        font-size: 11px;
        margin: 3px 0 0 0;

        span {
            margin-right: 5px;
            color: rgba($white, 0.3);
            

            &.collection-pinned {
                color: rgba($white, 1)
            }
        }
    }

    .collection-actions {
        display: flex;
        align-items: center;

        li {
            padding: 10px;
            cursor: pointer;
            margin-left: 10px;
        }
    }
}