.nft-view {
    display: block;
    // border-bottom: 5px solid #141414;
    transition: all 1s;
    background: $black;

    @media only screen and (max-width: $mobile) {
        margin: 20px;
        border-radius: 40px;
        overflow: hidden;
    }
}

.nft-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // margin-bottom: 10px;

    img {
        max-width: 100%;
    }

    .nft-details-container {
        // height: inherit;
        position: absolute;
        bottom: 25px;
        left: 25px;
        right: 25px;
        z-index: 2;
        // border-bottom: 1px solid rgba(255,255,255,0.1);

    }
}
.nft-grid {
    @media only screen and (min-width: $mobile) {
        margin: 20px auto;
        max-width: 1500px;
    }
}

.nft-grid .list-results {
    @media only screen and (min-width: $mobile) {
        display: grid;
        // grid-template-columns: 30% 30% 30%;
        grid-template-columns: 50% 50%;
        column-gap: 120px;
        row-gap: 120px;
        justify-content: center;
        
        .list-results {
            display: flex;
        }

        .nft-view {
            // border: 2px solid rgba($white, 0.1);
            border-radius: 40px;
            overflow: hidden;
            box-sizing: border-box;
            border-bottom: 0;

            // &:hover {
            //     border: 2px solid rgba($white, 0.2);
            // }
        }

        
    }
}

.nft-click-area {
    position: absolute;
    top: 0;
    lefT: 0;
    right: 0;
    bottom: 80px;
    z-index: 2;
    cursor: pointer;
}