.nft-view {
    display: block;
    border-bottom: 5px solid #141414;
}

.nft-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;

    img {
        max-width: 100%;
    }
}
.nft-grid {
    @media only screen and (min-width: $mobile) {
        margin: 100px auto;
        max-width: 1600px;
    }
}

.nft-grid .list-results {
    @media only screen and (min-width: $mobile) {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 150px;
        row-gap: 150px;
        justify-content: center;
        
        .list-results {
            display: flex;
        }

        .nft-view {
            border-bottom: none
        }

        .nft-details-container {
            height: inherit;
            padding: 0 0 20px 0;
            border-bottom: 1px solid rgba(255,255,255,0.1);

        }
    }
}